{% extends 'base.html' %}
{% block title %} Registration {% endblock %}
{% block href %} href="../static/css/webdefault.css"{% endblock %}
{% block heading %} Registration {% endblock %}
{% block main %}
<main>
    <div class="container">
        <div id="speaker1">
            <img alt="Image of the first keynote speaker." height="200" src="../static/images/speaker1.jpg" width="200">
            <p>
                Gina Atkins
                <br>
                Global Senior Contracts Manager at WPP
            </p>

        </div>

        <div id="speaker2">
            <img alt="Image of the second keynote speaker" height="200" src="../static/images/speaker2.jpg" width="200">
            <p>
                Jessica Lopez
                <br>
                Specialist in Emergency Medicine at UC Health
            </p>
        </div>
    </div>


</main>
{% endblock %}
<footer>
    <address><small>
        Contact Information:
        Address: 8801 Fairway Oaks Way, LoneTree Co ;
        Phone: 7205858291 ;
        Email: gpatton@regis.edu ;

    </small></address>
    <small>
        While this website was created to satisfy the requirement of
        building a website for an academic course at Regis University, the
        views and opinions expressed on this website are solely those of
        the original author and do not necessarily represent the views and
        opinions of Regis University
    </small>
</footer>

</body>
</html>