<!DOCTYPE html>
<!-- Name: G'Avonti Patton
     Assignment: CS336 Assignment #4
     Created: 8/21/2021
     Description: The Template page for my personal website.
-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="Gavonti Paton" name="author"/>
    <meta content="The Template page for my personal website." name="description"/>
    <meta content="personal,template" name="keywords"/>
    <meta content="noindex" name="robots"/>
    <link href="CSS/webdefault.css" rel="stylesheet"
          type="text/css">
    <title>Template</title>
</head>
<body>
<table class="navbar">
    <tr>
        <td><a href="index.html">Home</a></td>
        <td><a href="awards.html">awards</a></td>
        <td><a href="registration.html">Registration</a></td>
        <td><a href="activities.html">Activities</a></td>
        <td><a href="keynote.html">keynotes</a></td>
        <td><a href="meals.html">meals</a></td>
        <td><a href="workshopschedule.html">Workshop</a></td>
        <td><a href="poll.html">Poll</a></td>
    </tr>

</table>

<header>


</header>
<main>

</main>
<footer>
    <address><small>
        Contact Information:
        Address: 8801 Fairway Oaks Way, LoneTree Co ;
        Phone: 7205858291 ;
        Email: gpatton@regis.edu ;

    </small></address>
    <small>
        While this website was created to satisfy the requirement of
        building a website for an academic course at Regis University, the
        views and opinions expressed on this website are solely those of
        the original author and do not necessarily represent the views and
        opinions of Regis University
    </small>
</footer>

</body>
</html>