{% extends 'base.html' %}
{% block title %} Cook Book Home {% endblock %}
{% block href %} href="../static/css/webdefault.css"{% endblock %}
{% block heading %} Cook Book Home {% endblock %}
{% block main %}
    <main>
    <table class="table3">
        <tr>
            <th scope="col">Day</th>
            <th scope="col">Session</th>
            <th scope="col">Workshop
                <br> Title
            </th>
            <th scope="col">Speaker</th>
            <th scope="col">Room</th>
            <th scope="col">Time</th>
        </tr>
        <tr>
            <td>Day 1</td>
            <td>Session 1 &nbsp;&nbsp;</td>
            <td>Build your team.
                <br>Managing a budget.
                <br>Confirm sponsors.
            </td>
            <td>Mrs.Atkins
                <br>Mrs.Lopez
                <br>Mrs.Jones
            </td>
            <td>Room 1A
                <br>Room 1B
                <br>Room 1C
            </td>
            <td>1:00 p.m. - 3:30 p.m.
                <br>1:00 p.m. - 3:30 p.m.
                <br>1:00 p.m. - 3:30 p.m.
            </td>
        </tr>
        <tr>
            <td>Day 2</td>
            <td>Session 2&nbsp;&nbsp;</td>
            <td>Picking a venue and date.
                <br>Create a marketing plan.
                <br>Confirm speakers.
            </td>
            <td>Mrs.Atkins
                <br>Mrs.Lopez
                <br>Mrs.Jones
            </td>
            <td>Room 1A
                <br>Room 1B
                <br>Room 1C
            </td>
            <td>9:00 a.m. - noon
                <br>9:00 a.m. - noon
                <br>9:00 a.m. - noon
            </td>

        </tr>
        <tr>
            <td>Day 3</td>
            <td>Session 3&nbsp;&nbsp;</td>
            <td>Evaluating business partners.
                <br>How to manage investments.
                <br>Connections Conference Party.
            </td>
            <td>Mrs.Atkins
                <br>Mrs.Lopez
                <br>Mrs.Jones
            </td>
            <td>Room 1A
                <br>Room 1B
                <br>Room 1C
            </td>
            <td>1:00 p.m. - 3:30 p.m.
                <br>1:00 p.m. - 3:30 p.m.
                <br>1:00 p.m. - 3:30 p.m.
            </td>
        </tr>
    </table>
    </main>
{% endblock %}
 <br>
        <a href="/recipeCards">Recipe Cards(4 per page) Python Generated Version</a>